In [9]:
!pip install tpot

Requirement already satisfied: tpot in d:\gitprojects\machinelearning\auto_ml\myenv\lib\site-packages (0.11.1)
Requirement already satisfied: numpy>=1.16.3 in d:\gitprojects\machinelearning\auto_ml\myenv\lib\site-packages (from tpot) (1.16.6)
Requirement already satisfied: tqdm>=4.36.1 in d:\gitprojects\machinelearning\auto_ml\myenv\lib\site-packages (from tpot) (4.42.1)
Requirement already satisfied: deap>=1.2 in d:\gitprojects\machinelearning\auto_ml\myenv\lib\site-packages (from tpot) (1.3.1)
Requirement already satisfied: scikit-learn>=0.22.0 in d:\gitprojects\machinelearning\auto_ml\myenv\lib\site-packages (from tpot) (0.22.2.post1)
Requirement already satisfied: joblib>=0.13.2 in d:\gitprojects\machinelearning\auto_ml\myenv\lib\site-packages (from tpot) (0.14.1)
Requirement already satisfied: update-checker>=0.16 in d:\gitprojects\machinelearning\auto_ml\myenv\lib\site-packages (from tpot) (0.16)
Requirement already satisfied: stopit>=1.1.1 in d:\gitprojects\machinelearning\auto_ml\myenv\lib\site-packages (from tpot) (1.1.2)
Requirement already satisfied: scipy>=1.3.1 in d:\gitprojects\machinelearning\auto_ml\myenv\lib\site-packages (from tpot) (1.4.1)
Requirement already satisfied: pandas>=0.24.2 in d:\gitprojects\machinelearning\auto_ml\myenv\lib\site-packages (from tpot) (0.25.3)
Requirement already satisfied: requests>=2.3.0 in d:\gitprojects\machinelearning\auto_ml\myenv\lib\site-packages (from update-checker>=0.16->tpot) (2.23.0)
Requirement already satisfied: pytz>=2017.2 in d:\gitprojects\machinelearning\auto_ml\myenv\lib\site-packages (from pandas>=0.24.2->tpot) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in d:\gitprojects\machinelearning\auto_ml\myenv\lib\site-packages (from pandas>=0.24.2->tpot) (2.8.1)
Requirement already satisfied: certifi>=2017.4.17 in d:\gitprojects\machinelearning\auto_ml\myenv\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2019.11.28)
Requirement already satisfied: chardet<4,>=3.0.2 in d:\gitprojects\machinelearning\auto_ml\myenv\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in d:\gitprojects\machinelearning\auto_ml\myenv\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.25.8)
Requirement already satisfied: idna<3,>=2.5 in d:\gitprojects\machinelearning\auto_ml\myenv\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.9)
Requirement already satisfied: six>=1.5 in d:\gitprojects\machinelearning\auto_ml\myenv\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.24.2->tpot) (1.14.0)

WARNING: You are using pip version 19.2.3, however version 20.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [1]:
from pandas import read_csv
import pandas as pd
from sklearn.model_selection import train_test_split
from tpot import TPOTClassifier

d:\gitprojects\machinelearning\auto_ml\tpot\lib\site-packages\tpot\builtins\__init__.py:36: UserWarning: Warning: optional dependency `torch` is not available. - skipping import of NN models.
  warnings.warn("Warning: optional dependency `torch` is not available. - skipping import of NN models.")

In [2]:
test = read_csv("NTI_data/test.csv")
train_target = read_csv("NTI_data/train_target.csv")
transactions_test = read_csv("NTI_data/transactions_test.csv")
transactions_train = read_csv("NTI_data/transactions_train.csv")

In [3]:
#Train
#Признаки, связанные с суммой покупки
agg_features=transactions_train.groupby('client_id')['amount_rur'].agg(['sum','mean','max']).reset_index()

#Количество в каждой категории
amount_of_purchase=transactions_train.groupby(['client_id','small_group'])['amount_rur'].count()
counts_train=amount_of_purchase.reset_index().pivot(index='client_id', \
                                                      columns='small_group',values='amount_rur')
counts_train=counts_train.fillna(0)
counts_train.columns=['small_group_' + str(i) for i in counts_train.columns]

#Сумма в каждой категории
sum_of_group=transactions_train.groupby(['client_id','small_group'])['amount_rur'].sum()
sum_train=sum_of_group.reset_index().pivot(index='client_id', \
                                                      columns='small_group',values='amount_rur')
sum_train=sum_train.fillna(0)
sum_train.columns=['small_group_sum_'+str(i) for i in sum_train.columns]

#Минимум в каждой категории
min_of_group=transactions_train.groupby(['client_id','small_group'])['amount_rur'].min()
min_train=sum_of_group.reset_index().pivot(index='client_id', \
                                                      columns='small_group',values='amount_rur')
min_train=min_train.fillna(0)
min_train.columns=['small_group_min_'+str(i) for i in min_train.columns]

#Максимум в каждой категории
max_of_group=transactions_train.groupby(['client_id','small_group'])['amount_rur'].min()
max_train=sum_of_group.reset_index().pivot(index='client_id', \
                                                      columns='small_group',values='amount_rur')
max_train=max_train.fillna(0)
max_train.columns=['small_group_max_'+str(i) for i in max_train.columns]

#Средняя сумма в каждой категории
avg_of_group=transactions_train.groupby(['client_id','small_group'])['amount_rur'].mean()
avg_train=avg_of_group.reset_index().pivot(index='client_id', \
                                                      columns='small_group',values='amount_rur')
avg_train=avg_train.fillna(0)
avg_train.columns=['small_group_avg_'+str(i) for i in avg_train.columns]

#Соединим все в одну таблицу
counts_train=pd.merge(sum_train,counts_train,on='client_id')
counts_train=pd.merge(avg_train,counts_train,on='client_id')
counts_train=pd.merge(min_train,counts_train,on='client_id')
counts_train=pd.merge(max_train,counts_train,on='client_id')
train=pd.merge(train_target,agg_features,on='client_id')
train=pd.merge(train,counts_train.reset_index(),on='client_id')

In [8]:
train_data = train.head(250)
test_data = train.tail(50)

In [9]:
train_data

,client_id,bins,sum,mean,max,small_group_max_0,small_group_max_1,small_group_max_2,small_group_max_3,small_group_max_4,...,small_group_192,small_group_193,small_group_195,small_group_196,small_group_197,small_group_198,small_group_199,small_group_200,small_group_202,small_group_203
0,24662,2,30254.011,34.774725,1227.314,0.000,7093.826,64.110,1412.978,729.946,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1046,0,42548.570,52.015367,1210.506,95.346,10920.764,3712.276,607.346,454.812,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,34089,2,26842.816,34.325852,782.641,0.000,9969.533,0.000,795.089,440.769,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,34848,1,15773.126,16.160990,109.590,0.000,7985.775,0.733,0.000,248.769,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,47076,3,12488.375,15.929050,541.165,0.000,3907.408,0.000,3821.081,554.640,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,1268,0,54356.218,51.522482,1863.112,239.823,13632.249,5216.980,1239.665,2323.912,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
246,5106,1,24093.501,28.412147,1758.539,184.758,11089.340,0.000,2934.021,3769.546,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
247,44425,3,48773.889,58.202732,1089.882,0.000,20153.435,6664.747,1397.222,1089.503,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
248,48033,0,42356.071,44.213018,2106.583,347.128,6340.744,95.304,2285.107,357.986,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
249,20852,3,117271.876,111.052913,8796.016,1868.202,10849.697,0.000,1629.605,1106.903,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
model_finder = TPOTClassifier(generations=5, population_size=50, verbosity=2, random_state=42)
X_train = train_data.drop('bins', 1)
y_train = train_data['bins']
X_test = test_data.drop('bins', 1)
y_test = test_data['bins']

In [ ]:
import time
start_time = time.time()

In [ ]:
model_finder.fit(X_train, y_train)

Warning: xgboost.XGBClassifier is not available and will not be used by TPOT.

HBox(children=(FloatProgress(value=0.0, description='Optimization Progress', max=300.0, style=ProgressStyle(de…

Generation 1 - Current best internal CV score: 0.556
Generation 2 - Current best internal CV score: 0.556
Generation 3 - Current best internal CV score: 0.56

In [ ]:
print(model_finder.score(X_test, y_test))

In [ ]:
end_time = time.time()
print("Time spent", end_time - start_time)